#principal{
	/*border: 2px solid #A4A4A4; */
	width: 900px; 
}

#menu{background: #D8D8D8 ;
	padding: 18px; 
}

#conteudo{text-align: center;
	background: #E6E6E6;
	padding: 5px;
}

#rodape{text-align: center;
	font-weight: bold;}

body{ 
	background: #A4A4A4
	url('https://i.imgur.com/vBMOtYV.png');
	font: 16px Arial, Helvetica, sans-serif;
	background-attachment: fixed;
}

h1{color: #0B3B39;
	font-size: 1.5em;} 

a{color: #190710;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
}

.img_camp{border: 10px solid #6E6E6E;

}